$def with( global_info )

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>version非法率统计</title>
    
    <script src="/static/js/jquery.min.js"></script>    
    <script src="/static/js/highstock.js"></script>
    <script src="/static/js/exporting.js"></script> 
    <script src="/static/js/jquery.min.map"></script>   
    <script src="/static/jquery-ui-1.10.3/ui/jquery.ui.core.js"></script>
    <script src="/static/jquery-ui-1.10.3/ui/jquery.ui.widget.js"></script>
    <script src="/static/jquery-ui-1.10.3/ui/jquery.ui.datepicker.js"></script>
    <link rel="stylesheet" href="/static/jquery-ui-1.10.3/themes/base/jquery.ui.all.css">
    <link rel="stylesheet" href="/static/jquery-ui-1.10.3/demos/demos.css">
    <style type="text/css">
        html,body
        {
            height: 100%;
            margin: 0;
            
        }
        .left
        {
            float: left;
            height: 6000px;
            width: 200px;
            background:#88ee88;
            border: 5px solid #88ee88 ;
        }
        .right
        {
            margin-left:210px; 
            height: 6000px;
            width: 1100px;
            background:#eeffee;
            border: 3px solid #80e080 ;
        }  
        .divtool
        {
            width: 100%;
            height: 100px;
            box-shadow: 0 0 1px #0f0f0f;
        }
        .divcomment
        {
            width: 100%;
            height: 5900px ;
            background:#ffffee ;
        }
        .divtoolname
        {
            width: 100%;
            height: 35%;
            text-align:center;
            background:#ccffdd;
            box-shadow: 0 0 3px #0f0f0f;
        }
        .divtooltools
        {
            width: 100%;
            height: 63%;
            box-shadow: 0 0 3px #0f0f0f;
        }
        .buttonLeft
        {
            width:80%;
            height:30px;
            box-shadow: 0 0 1px #0f0f0f;
        }
    </style>
</head>
<body>
    <form id="log_form" method="POST">
        <div class="left" id="div_left">
            <div style="width:100%;height:130px;background:#ccbbdd;box-shadow: 0 0 3px #000;">
                <center>
                    <div style="width:100%;height:40px;background:#abcdef;">
                        <a style="font-size:25px;" >概览信息</a>
                    </div>
                    <p><input type="button" value="导航统计概览" class="buttonLeft" onclick="button_jump_click('top_all')"></p>
                    <p><input type="button" value="导航关键统计报表" class="buttonLeft" onclick="button_jump_click('kes_stat')"></p>
                </center>
            </div>
            </br>
            <div style="width:100%;height:150px;background:#ccbbdd;box-shadow: 0 0 3px #000;">
                <center>
                    <div style="width:100%;height:40px;background:#abcdef;">
                        <a style="font-size:25px;" >日志信息查询</a>
                    </div>
                    <p><input type="button" value="错误日志查询" class="buttonLeft" onclick="button_jump_click('error_log')"></p>
                    <p><input type="button" value="cuid查询" class="buttonLeft" onclick="button_jump_click('cuid_log')" ></p>
                </center>
            </div>
            </br>
            <div style="width:100%;height:300px;background:#ccbbdd;box-shadow: 0 0 3px #000;">
                <center>
                    <div style="width:100%;height:40px;background:#abcdef;">
                        <a style="font-size:25px;" >端信息查询</a>
                    </div>
                    <p><input type="button" value="端pv统计"  class="buttonLeft"  onclick="button_jump_click('port_pv')" ></p>
                    <p><input type="button" value="端错误率统计"  class="buttonLeft"  onclick="button_jump_click('port_error')" ></p>
                    <p><input type="button" value="端非法率统计"  class="buttonLeft"  onclick="button_jump_click('port_illegal')" ></p>
                    <p><input type="button" value="端数据量统计"  class="buttonLeft"  onclick="button_jump_click('port_data')" ></p>
                    <p><input type="button" value="端性能统计"  class="buttonLeft"  onclick="button_jump_click('port_performance')" ></p>
                    <p><input type="button" value="偏航统计" class="buttonLeft" onclick="button_jump_click('yawpos_summary')" ></p>
                </center>
            </div>
            </br>
            <div style="width:100%;height:300px;background:#ccbbdd;box-shadow: 0 0 3px #000;">
                <center>
                    <div style="width:100%;height:40px;background:#abcdef;">
                        <a style="font-size:25px;" >version信息查询</a>
                    </div>
                    <p><input type="button" value="version-pv统计"  class="buttonLeft" onclick="button_jump_click('version_pv')" ></p>
                    <p><input type="button" value="version错误率统计"  class="buttonLeft" onclick="button_jump_click('version_error')" ></p>
                    <p><input type="button" value="version非法率统计"  class="buttonLeft" onclick="button_jump_click('version_illegal')" ></p>
                    <p><input type="button" value="version数据量统计" class="buttonLeft"  onclick="button_jump_click('version_data')" ></p>
                    <p><input type="button" value="version性能统计" class="buttonLeft" onclick="button_jump_click('version_performance')" ></p>
                    <p><input type="button" value="模块性能统计" class="buttonLeft" onclick="button_jump_click('module_performance')" ></p>
                </center>
            </div>
            </br>
            <div style="width:100%;height:120px;background:#ccbbdd;box-shadow: 0 0 3px #000;">
                <center>
                    <div style="width:100%;height:40px;background:#abcdef;">
                        <a style="font-size:25px;" >用户反馈信息查询</a>
                    </div>
                    <p><input type="button" value="用户吐槽类型统计"  class="buttonLeft" onclick="button_jump_click('naviure_type_flag')" ></p>
                </center>
            </div>
            </br>
            <div style="width:100%;height:300px;background:#ccbbdd;box-shadow: 0 0 3px #000;">
                <center>
                    <div style="width:100%;height:40px;background:#abcdef;">
                        <a style="font-size:25px;" >其他信息查询</a>
                    </div>
                    <p><input type="button" value="multinavi session 统计" class="buttonLeft" onclick="button_jump_click('multinavi_session_query')" ></p>
                    <p><input type="button" value="特殊路线pv统计" class="buttonLeft" onclick="button_jump_click('special_route_type_pv')" ></p>
                    <p><input type="button" value="城市query统计" class="buttonLeft" onclick="button_jump_click('city_query')" ></p>
                    <p><input type="button" value="多路线召回信息统计" class="buttonLeft" onclick="button_jump_click('multi_route_recall')" ></p>
                    <p><input type="button" value="导航偏好信息统计" class="buttonLeft" onclick="button_jump_click('navigation_preference')" ></p>
                    <p><input type="button" value="时间评估统计" class="buttonLeft" onclick="button_jump_click('route_time_ratio')" ></p>
                </center>
            </div>
        </div>
        <div class="right" id="div_right">
            <div class="divtool">
                <div class="divtoolname">
                    <a style="font-size:20px">version非法率统计</a>
                    
                </div>
                <div class="divtooltools">
                    <div style="margin-left:2px;float:left;width:250px;height:98%;background:#bcdeff;box-shadow: 0 0 1px #000;">
                        <center>
                            <div style="width:100%;height:22px;background:#abcdef;">
                                <a style="font-size:20px;" >时间选择 </a>
                            </div>
                            <div style="width:100%;height:5px;"></div>
                            From: <input type="text" id="datepicker_from" name="datepicker_from" style="width:80px">
                            To: <input type="text" id="datepicker_to" name="datepicker_to" style="width:80px">
                        </center>
                    </div>
                    <div style="margin-left:3px;float:left;width:120px;height:98%;background:#bcdeff;box-shadow: 0 0 1px #000;">
                        <center>
                            <div style="width:100%;height:22px;background:#abcdef;">
                                <a style="font-size:20px;" >查询操作 </a>
                            </div>
                            <div style="width:100%;height:5px;"></div>
                            <input type="button" value="查询"  name="Button_Search" id="Button_Search" onclick="search_button_on_click()" style="width:100px;height:25px;box-shadow: 0 0 1px #0f0f0f;">
                        </center>
                    </div>
                    <div style="margin-left:3px;float:left;width:360px;height:98%;background:#bcdeff;box-shadow: 0 0 1px #000;">
                        <center>
                            <div style="width:100%;height:22px;background:#abcdef;">
                                <a style="font-size:20px;" >展示选项 </a>
                            </div>
                            <div style="width:100%;height:5px;"></div>
                            <input type="button" id="button_hour" name="button_hour" value="按小时展示" style="width:100px;height:25px;box-shadow: 0 0 1px #0f0f0f;" onclick="button_hour_click()" >
                            <input type="button" id="button_day" name="button_day" value="按天数展示" style="width:100px;height:25px;box-shadow: 0 0 1px #0f0f0f;" onclick="button_day_click()" >
                            <input type="button" id="button_week" name="button_week" value="按周展示" style="width:100px;height:25px;box-shadow: 0 0 1px #0f0f0f;" onclick="button_week_click()" >
                        </center>
                    </div>
                </div>
            </div>
            <div class="divcomment">
                <div style="width:100%;height:1800px">
                    <div style="float:left;height:1800px;width:25%;background:#ffeeff">
                        <center>
                            <div style="height:10px;width:100%;"></div>
                            <input type="button" value="清空图表" style="width:100px;height:25px;box-shadow: 0 0 1px #0f0f0f;" onclick="table_clear_click()" >
                            </br>
                            <table id="table_qt_version_list" border=1>
                            </table>
                                
                        </center>
                    </div>
                    <div id="div_illegal_ratio_container" style="float:right;height:445px;width:75%;background:#0ff;box-shadow: 0 0 1px #0f0f0f;"></div>
                    <div style="float:right;height:5px;width:75%;"></div>
                    <div id="div_illegal_percent_container" style="float:right;height:445px;width:75%;background:#0ff;box-shadow: 0 0 1px #0f0f0f;"></div>
                    <div style="float:right;height:5px;width:75%;"></div>
                    <div id="div_illegal_ratio_column" style="float:right;height:445px;width:75%;background:#0ff;box-shadow: 0 0 1px #0f0f0f;"></div>
                    <div style="float:right;height:5px;width:75%;"></div>
                    <div id="div_illegal_percent_column" style="float:right;height:445px;width:75%;background:#0ff;box-shadow: 0 0 1px #0f0f0f;"></div>
                        
                </div>
                <center>
                    <div style="width:100%;height:80px;background:#ffffff"></div>
                    <div style="width:100%;height:40px;background:#a0b0f0"></div>
                    <div style="width:100%;height:30px;background:#ccc;">
                        <a style="font-size:20px">qt-version选择：</a>
                        <select name="select_qt_version" id="select_qt_version">
                        </select>
                        <input type="button" value="qt-version到端口查询" onclick="button_qt_version_port_info_click()" >
                    </div>
                    <div id="div_port_illegal_ratio_container" style="height:450px;width:85%;background:#0ff;box-shadow: 0 0 1px #0f0f0f;"></div>
                    <div style="width:100%;height:5px;"></div>
                    <div id="div_port_illegal_percent_container" style="height:450px;width:85%;background:#0ff;box-shadow: 0 0 1px #0f0f0f;"></div>
                    <div style="width:100%;height:5px;"></div>
                    <div id="div_port_illegal_ratio_column" style="height:450px;width:85%;background:#0ff;box-shadow: 0 0 1px #0f0f0f;"></div>
                    <div style="width:100%;height:5px;"></div>
                    <div id="div_port_illegal_percent_column" style="height:450px;width:85%;background:#0ff;box-shadow: 0 0 1px #0f0f0f;"></div>
                    <div style="width:100%;height:5px;"></div>
                </center>
            </div>
        </div>
    </form>
</body>


<script type="text/javascript">
    JQ = jQuery.noConflict();
    var host_port    = $:global_info ;
    var host        = "http://" + host_port[0] ;
    var port_num    = host_port[1] ;
    function button_jump_click( target_page ){
        var url = host + ":" + port_num + "/" + target_page;
        window.open( url , "_self");
    }
    
    
    
    JQ(function() {
        JQ( "#datepicker_from" ).datepicker();
    });
    
    JQ(function() {
        JQ( "#datepicker_to" ).datepicker();
    });
    
    
    var show_model = "DAY";
    var port_data_dict = {};
    var data_dict = {};
    var visible_lst    = [];
    var port_name_2_port_name_show = {}
    port_name_2_port_name_show[ "webmap" ] = "webmap";
    port_name_2_port_name_show[ "webapp" ] = "webapp";
    port_name_2_port_name_show[ "webapi" ] = "webapi";
    port_name_2_port_name_show[ "unknown" ] = "来源未知";
    port_name_2_port_name_show[ "baidu_map" ] = "百度地图";
    port_name_2_port_name_show[ "baidu_navi" ] = "百度导航";
    port_name_2_port_name_show[ "navi_sdk" ] = "导航SDK";
    port_name_2_port_name_show[ "other_service" ] = "其他后端服务";
    port_name_2_port_name_show[ "remove_port" ] = "resid不存在";
    
    function createStockChart( div_id , title , ytitle , decimals , suffix , ysuffix , mydata , need_point ){
        JQ('#' + div_id ).highcharts
        (
            'StockChart',
            {
                chart: {
                    type: 'spline'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: title
                },
                xAxis: {
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: ytitle
                    },
                    labels: {
                        formatter: function() {
                            return this.value + ysuffix
                        }
                    }
                },
                legend: { 
                    enabled: true 
                },
                tooltip:{
                    crosshairs: true,
                    shared: true,
                    useHTML : true,
                    headerFormat : '<small>{point.key}</small></br>名称：数值  数目<table>',
                    pointFormat : '<tr><td style="color:{series.color}">{series.name}:</td>' + 
                                    '<td style="text-align:right"><b>{point.y:.'+ decimals + 'f}' + suffix + '</b></td>' + 
                                    '<td style="text-align:right"><b>{point.num}</b></td></tr>',
                    footerFormat: '</table>'
                },
                plotOptions: {
                    series: {
                        marker: {
                            enabled: need_point
                        }
                    }
                },
                navigator: {
                    margin: 2,
                    height: 20
                },
                rangeSelector: {
                    enabled: false
                },
                series: mydata
            }
        );
    }
    
    function createStockChartWeekExtra( div_id , title , ytitle , decimals , suffix , ysuffix , mydata , need_point ){
        JQ('#' + div_id ).highcharts
        (
            'StockChart',
            {
                chart: {
                    type: 'spline'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: title
                },
                xAxis: {
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: ytitle
                    },
                    labels: {
                        formatter: function() {
                            return this.value + ysuffix
                        }
                    }
                },
                legend: { 
                    enabled: true 
                },
                tooltip:{
                    crosshairs: true,
                    shared: true,
                    useHTML : true,
                    headerFormat : '<small>{point.key}</small></br>名称：数值（周的日平均） 数目<table>',
                    pointFormat : '<tr><td style="color:{series.color}">{series.name}:</td>' + 
                                    '<td style="text-align:right"><b>{point.y:.'+ decimals + 'f}' + suffix + '</b></td>' + 
                                    '<td style="text-align:right"><b>({point.extra:.'+ decimals + 'f}' + suffix + ')</b></td>' + 
                                    '<td style="text-align:right"><b>{point.num}</b></td></tr>',
                    footerFormat: '</table>'
                },
                plotOptions: {
                    series: {
                        marker: {
                            enabled: need_point
                        }
                    }
                },
                navigator: {
                    margin: 2,
                    height: 20
                },
                rangeSelector: {
                    enabled: false
                },
                series: mydata
            }
        );
    }
    
    function draw_tables(){
        var name_list       = data_dict["name_list"] ;
        var all_illegal_ratio  = data_dict["all_illegal_ratio"] ;
        var all_illegal_percent= data_dict["all_illegal_percent"] ;
        var start_time     = parseInt( data_dict["week_range"][0] ) * 3600 * 1000;
        var point_interval = 7 * 24 * 3600 * 1000;
        var show_illegal_num = data_dict["week_illegal_num"];
        var show_illegal_ratio = data_dict["week_illegal_ratio"];
        var show_illegal_percent = data_dict["week_illegal_percent"];
        var show_total_illegal_num = data_dict["week_total_illegal_num"];
        var show_total_illegal_ratio = data_dict["week_total_illegal_ratio"];
        var show_week_day_illegal_ratio = data_dict["week_day_illegal_ratio"];
        var show_week_day_illegal_percent = data_dict["week_day_illegal_percent"];
        var show_week_day_total_ratio = data_dict["week_day_total_ratio"];
        var need_point = true;
        
        if( show_model == "HOUR" ){
            start_time     = parseInt( data_dict["hour_range"][0] ) * 3600 * 1000;
            point_interval = 3600 * 1000;
            show_illegal_num = data_dict["hour_illegal_num"];
            show_illegal_ratio = data_dict["hour_illegal_ratio"];
            show_illegal_percent = data_dict["hour_illegal_percent"];
            show_total_illegal_num = data_dict["hour_total_illegal_num"];
            show_total_illegal_ratio = data_dict["hour_total_illegal_ratio"];
            show_week_day_illegal_ratio = [];
            show_week_day_illegal_percent = [];
            show_week_day_total_ratio = [];
            need_point = true;
        }else if( show_model == "DAY" ){
            start_time     = parseInt( data_dict["day_range"][0] ) * 3600 * 1000;
            point_interval = 24 * 3600 * 1000;
            show_illegal_num = data_dict["day_illegal_num"];
            show_illegal_ratio = data_dict["day_illegal_ratio"];
            show_illegal_percent = data_dict["day_illegal_percent"];
            show_total_illegal_num = data_dict["day_total_illegal_num"];
            show_total_illegal_ratio = data_dict["day_total_illegal_ratio"];
            show_week_day_illegal_ratio = data_dict["day_week_illegal_ratio"];
            show_week_day_illegal_percent = data_dict["day_week_illegal_percent"];
            show_week_day_total_ratio = data_dict["day_week_total_ratio"];
            need_point = true;
        }
        
        
        var mydata=[];
        if( show_model == "HOUR" ){
            var tmp_data = [];
            for( var j = 0 ; j < show_total_illegal_ratio.length ; j++ ){
                tmp_data.push(
                    {
                        y:show_total_illegal_ratio[j],
                        num:show_total_illegal_num[j]
                    }
                );
            }
            mydata.push(
                {
                    name : "总平均非法率",
                    pointInterval: point_interval,
                    pointStart: start_time ,
                    data: tmp_data
                }
            );
            for( var i = 0 ; i < name_list.length ; i++ ){
                if( !visible_lst[i] ){
                    continue;
                }
                var tmp_data = [];
                for( var j = 0 ; j < show_illegal_ratio[i].length ; j++ ){
                    tmp_data.push(
                        {
                            y:show_illegal_ratio[i][j],
                            num:show_illegal_num[i][j]
                        }
                    );
                }
                mydata.push(
                    {
                        name : name_list[i],
                        pointInterval: point_interval,
                        pointStart: start_time ,
                        data: tmp_data
                    }
                );
            }
            
            createStockChart( "div_illegal_ratio_container" , "version非法率统计(非法次数/总请求次数)" , "非法率" , 2 , '%' , '%' , mydata , need_point );
            
            mydata=[];
            for( var i = 0 ; i < name_list.length ; i++ ){
                if( !visible_lst[i] ){
                    continue;
                }
                var tmp_data = [];
                for( var j = 0 ; j < show_illegal_percent[i].length ; j++ ){
                    tmp_data.push(
                        {
                            y:show_illegal_percent[i][j],
                            num:show_illegal_num[i][j]
                        }
                    );
                }
                mydata.push(
                    {
                        name : name_list[i],
                        pointInterval: point_interval,
                        pointStart: start_time ,
                        data: tmp_data
                    }
                );
            }
            createStockChart( "div_illegal_percent_container" , "version非法率统计（非法次数/总非法次数）" , "非法率" , 2 , '%' , '%' , mydata , need_point );
        }else{
            var tmp_data = [];
            for( var j = 0 ; j < show_total_illegal_ratio.length ; j++ ){
                tmp_data.push(
                    {
                        y:show_total_illegal_ratio[j],
                        extra:show_week_day_total_ratio[j],
                        num:show_total_illegal_num[j]
                    }
                );
            }
            mydata.push(
                {
                    name : "总平均非法率",
                    pointInterval: point_interval,
                    pointStart: start_time ,
                    data: tmp_data
                }
            );
            for( var i = 0 ; i < name_list.length ; i++ ){
                if( !visible_lst[i] ){
                    continue;
                }
                var tmp_data = [];
                for( var j = 0 ; j < show_illegal_ratio[i].length ; j++ ){
                    tmp_data.push(
                        {
                            y:show_illegal_ratio[i][j],
                            extra:show_week_day_illegal_ratio[i][j],
                            num:show_illegal_num[i][j]
                        }
                    );
                }
                mydata.push(
                    {
                        name : name_list[i],
                        pointInterval: point_interval,
                        pointStart: start_time ,
                        data: tmp_data
                    }
                );
            }
            createStockChartWeekExtra( "div_illegal_ratio_container" , "version非法率统计(非法次数/总请求次数)" , "非法率" , 2 , '%' , '%' , mydata , need_point );
            
            mydata=[];
            for( var i = 0 ; i < name_list.length ; i++ ){
                if( !visible_lst[i] ){
                    continue;
                }
                var tmp_data = [];
                for( var j = 0 ; j < show_illegal_percent[i].length ; j++ ){
                    tmp_data.push(
                        {
                            y:show_illegal_percent[i][j],
                            extra:show_week_day_illegal_percent[i][j],
                            num:show_illegal_num[i][j]
                        }
                    );
                }
                mydata.push(
                    {
                        name : name_list[i],
                        pointInterval: point_interval,
                        pointStart: start_time ,
                        data: tmp_data
                    }
                );
            }
            createStockChartWeekExtra( "div_illegal_percent_container" , "version非法率统计（非法次数/总非法次数）" , "非法率" , 2 , '%' , '%' , mydata , need_point );
        
        }
        var cur_name_list = [];
        mydata = [];
        for( var i = 0 ; i < name_list.length ; i++ ){
            if( visible_lst[i] ){
                cur_name_list.push( name_list[i] );
                mydata.push( all_illegal_ratio[i] );
            }
        }
        JQ('#div_illegal_ratio_column').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'version非法率统计(非法次数/总请求次数)'
            },
            xAxis: {
                categories: cur_name_list ,
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '非法率%'
                },
                labels: {
                    formatter: function() {
                        return this.value +'%'
                    }
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                crosshairs: true,
                shared: true ,
                useHTML : true,
                headerFormat : '<small>{point.key}</small><table>',
                pointFormat : '<tr><td style="color:{series.color}">{series.name}:</td>' + '<td style="text-align:right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                valueDecimals : 2,
                valueSuffix: '%'
            },
            series: [{
                name: 'version非法率',
                data: mydata
            }]
        });
        
        
        cur_name_list = [];
        mydata = [];
        for( var i = 0 ; i < name_list.length ; i++ ){
            if( visible_lst[i] ){
                cur_name_list.push( name_list[i] );
                mydata.push( all_illegal_percent[i] );
            }
        }
        JQ('#div_illegal_percent_column').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'version非法率统计（非法次数/总非法次数）'
            },
            xAxis: {
                categories: cur_name_list ,
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '非法率%'
                },
                labels: {
                    formatter: function() {
                        return this.value +'%'
                    }
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                crosshairs: true,
                shared: true ,
                useHTML : true,
                headerFormat : '<small>{point.key}</small><table>',
                pointFormat : '<tr><td style="color:{series.color}">{series.name}:</td>' + '<td style="text-align:right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                valueDecimals : 2,
                valueSuffix: '%'
            },
            series: [{
                name: 'version非法率',
                data: mydata
            }]
        });
        

    }
    
    
    function button_hour_click(){
        show_model = "HOUR";
        draw_tables();
        draw_port_tables();
    }
    
    
    function button_day_click(){
        show_model = "DAY";
        draw_tables();
        draw_port_tables();
    }
    
    function button_week_click(){
        show_model = "WEEK";
        draw_tables();
        draw_port_tables();
    }
    
   function table_clear_click( ){
        var name_list = data_dict["name_list"] ;
        for( var i = 0 ; i < name_list.length ; i++ ){
            visible_lst[i] = false;
            td_id = "version_" + name_list[i];
            var td_obj =  document.getElementById( td_id );
            td_obj.style.backgroundColor = "#ffffee";
        }
        draw_tables();
    }
    
    function table_on_click( td_id ){
        var name_list = data_dict["name_list"] ;
        var td_obj =  document.getElementById( td_id );
        qt_version = td_id.split( 'version_' )[1];
        for( var i = 0 ; i < name_list.length ; i++ ){
            if( name_list[i] == qt_version ){
                if( visible_lst[ i ] == true ){
                    visible_lst[i] = false;
                    td_obj.style.backgroundColor = "#ffffee";
                }else{
                    visible_lst[i] = true;
                    td_obj.style.backgroundColor = "#889988";
                }
            }
        }
        draw_tables();
    }

    
    function init_data( ){
        var name_list = data_dict["name_list"] ;
        var day_illegal_ratio    = data_dict["day_illegal_ratio"] ;
        var week_illegal_ratio    = data_dict["week_illegal_ratio"] ;
        
        visible_lst    = []
        for( var  i  = 0 ; i < name_list.length ; i ++ ){
            if( name_list[i] == "rc,4" || name_list[i] == "navcars,10" ||  name_list[i] == "navi,10" ) visible_lst.push( true );
            else visible_lst.push( false );
        }
        
        
        var table_qt_version_list = document.getElementById( "table_qt_version_list" );
        var inner_html = "" +
                "<tr>" +
                    "<th>version，qt</th>" +
                    "<th>最后一天非法率</th>" +
                    "<th>最后一周非法率</th>" +
                "</tr>";
        for( var i = 0 ; i < name_list.length ; i++ ){
            var cur_day_data = day_illegal_ratio[i][ day_illegal_ratio[i].length - 1 ];
            var cur_week_data = week_illegal_ratio[i][ week_illegal_ratio[i].length - 1 ];
            cur_day_data = Math.round(cur_day_data*100)/100;
            cur_week_data = Math.round(cur_week_data*100)/100;
            inner_html = inner_html + 
                "<tr>" + 
                    "<td  onclick='table_on_click( this.id )' id='version_" + name_list[i] + "' >" + name_list[i] + "</td>" +
                    "<td>" + cur_day_data + "%</td>" +
                    "<td>" + cur_week_data + "%</td>" +
                "</tr>";
        }   
    
        table_qt_version_list.innerHTML = inner_html;
        
        
        for( var i = 0 ; i < name_list.length ; i++ ){
            if( visible_lst[i] ){
                td_id = "version_" + name_list[i];
                var td_obj =  document.getElementById( td_id );
                td_obj.style.backgroundColor = "#889988";
            }
        }
        
        var qt_version_select_innerHTML = "";
        for( var i = 0 ; i < name_list.length ; i++ ){
            qt_version_select_innerHTML = qt_version_select_innerHTML + 
                "<option value='" + name_list[i] + "'>" + name_list[i] + "</option>"; 
        }  
        document.getElementById("select_qt_version").innerHTML = qt_version_select_innerHTML ;
        
    }
    
    
    var xmlHTTP = new XMLHttpRequest();
    function query_info_done(){
        if( xmlHTTP.readyState == 4 && xmlHTTP.status == 200){
            json_obj = eval('(' + xmlHTTP.responseText + ')');
            
            document.getElementById("datepicker_from").value = json_obj['date_from'];
            document.getElementById("datepicker_to").value   = json_obj['date_to'];
            data_dict = json_obj;
            data_len  = data_dict['data_len'];
            if( data_len <= 0 ){
                alert( "该查询日期内无数据");
                exit(0) ;
            }
            show_model = "DAY";
            init_data( );
            draw_tables();
            button_qt_version_port_info_click();
        }
    }



    function search_button_on_click(  ){
        var url = host + ":" + port_num + "/version_illegal_get_data";
        var info = "";
        info = info + "date_from=" + document.getElementById("datepicker_from").value ;
        info = info + "&date_to=" + document.getElementById("datepicker_to").value ;
        xmlHTTP.open("POST", url, true);
        xmlHTTP.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        xmlHTTP.onreadystatechange = query_info_done;
        xmlHTTP.send( info );
    }
    
    
    
    
    
    function draw_port_tables(){
        var port_name_raw = port_data_dict["name_list"];
        var port_name_list = [];
        for( var i = 0 ; i < port_name_raw.length ; i++ ){
            port_name_list.push( port_name_2_port_name_show[ port_name_raw[i] ] );
        }
        
        var start_time     = parseInt( port_data_dict["week_range"][0] ) * 3600 * 1000;
        var point_interval = 7 * 24 * 3600 * 1000;
        var show_illegal_num = port_data_dict["week_illegal_num"];
        var show_illegal_ratio = port_data_dict["week_illegal_ratio"];
        var show_illegal_percent = port_data_dict["week_illegal_percent"];
        var need_point = true;
        
        if( show_model == "HOUR" ){
            start_time     = parseInt( port_data_dict["hour_range"][0] ) * 3600 * 1000;
            point_interval = 3600 * 1000;
            show_illegal_num = port_data_dict["hour_illegal_num"];
            show_illegal_ratio = port_data_dict["hour_illegal_ratio"];
            show_illegal_percent = port_data_dict["hour_illegal_percent"];
            need_point = false;
        }else if( show_model == "DAY" ){
            start_time     = parseInt( port_data_dict["day_range"][0] ) * 3600 * 1000;
            point_interval = 24 * 3600 * 1000;
            show_illegal_num = port_data_dict["day_illegal_num"];
            show_illegal_ratio = port_data_dict["day_illegal_ratio"];
            show_illegal_percent = port_data_dict["day_illegal_percent"];
            need_point = true;
        }
        var port_all_illegal_ratio    = port_data_dict["all_illegal_ratio"] ;
        var port_all_illegal_percent  = port_data_dict["all_illegal_percent"] ;
        
        
        var mydata=[];
        
        for( var i = 0 ; i < port_name_list.length ; i++ ){
            var tmp_data = [];
            for( var j = 0 ; j < show_illegal_ratio[i].length ; j++ ){
                tmp_data.push(
                    {
                        y:show_illegal_ratio[i][j],
                        num:show_illegal_num[i][j]
                    }
                );
            }
            mydata.push(
                {
                    name : port_name_list[i],
                    pointInterval: point_interval,
                    pointStart: start_time ,
                    data: tmp_data
                }
            );
        }
        createStockChart( "div_port_illegal_ratio_container" , "version非法率统计(非法次数/总请求次数)" , "非法率" , 2 , '%' , '%' , mydata , need_point );
        
        mydata=[];
        for( var i = 0 ; i < port_name_list.length ; i++ ){
            var tmp_data = [];
            for( var j = 0 ; j < show_illegal_percent[i].length ; j++ ){
                tmp_data.push(
                    {
                        y:show_illegal_percent[i][j],
                        num:show_illegal_num[i][j]
                    }
                );
            }
            mydata.push(
                {
                    name : port_name_list[i],
                    pointInterval: point_interval,
                    pointStart: start_time ,
                    data: tmp_data
                }
            );
        }
        createStockChart( "div_port_illegal_percent_container" , "version非法率统计（非法次数/总非法次数）" , "非法率" , 2 , '%' , '%' , mydata , need_point );
        
        var cur_name_list = [];
        mydata = [];
        for( var i = 0 ; i < port_name_list.length ; i++ ){
            cur_name_list.push( port_name_list[i] );
            mydata.push( port_all_illegal_ratio[i] );
        }
        JQ('#div_port_illegal_ratio_column').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'version非法率统计(非法次数/总请求次数)'
            },
            xAxis: {
                categories: cur_name_list ,
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '非法率%'
                },
                labels: {
                    formatter: function() {
                        return this.value +'%'
                    }
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                crosshairs: true,
                shared: true ,
                useHTML : true,
                headerFormat : '<small>{point.key}</small><table>',
                pointFormat : '<tr><td style="color:{series.color}">{series.name}:</td>' + '<td style="text-align:right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                valueDecimals : 2,
                valueSuffix: '%'
            },
            series: [{
                name: 'version非法率',
                data: mydata
            }]
        });
        
        
        cur_name_list = [];
        mydata = [];
        for( var i = 0 ; i < port_name_list.length ; i++ ){
            cur_name_list.push( port_name_list[i] );
            mydata.push( port_all_illegal_percent[i] );
        }
        JQ('#div_port_illegal_percent_column').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'version非法率统计（非法次数/总非法次数）'
            },
            xAxis: {
                categories: cur_name_list ,
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '非法率%'
                },
                labels: {
                    formatter: function() {
                        return this.value +'%'
                    }
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                crosshairs: true,
                shared: true ,
                useHTML : true,
                headerFormat : '<small>{point.key}</small><table>',
                pointFormat : '<tr><td style="color:{series.color}">{series.name}:</td>' + '<td style="text-align:right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                valueDecimals : 2,
                valueSuffix: '%'
            },
            series: [{
                name: 'version非法率',
                data: mydata
            }]
        });
        
    }
    
    
    var xmlHTTP_port = new XMLHttpRequest();
    function port_query_info_done(){
        if( xmlHTTP_port.readyState == 4 && xmlHTTP_port.status == 200){
            json_obj = eval('(' + xmlHTTP_port.responseText + ')');
            port_data_dict = json_obj;
            draw_port_tables();
        }
    }
    
    
    
    function button_qt_version_port_info_click(){
        var qv = document.getElementById("select_qt_version").value.split( ',' ) ;
        var url = host + ":" + port_num + "/version2port_illegal_get_data";
        var info = "";
        info = info + "date_from=" + document.getElementById("datepicker_from").value ;
        info = info + "&date_to=" + document.getElementById("datepicker_to").value ;
        info = info + "&qt=" + qv[0] ;
        info = info + "&version=" + qv[1] ;
        xmlHTTP_port.open("POST", url, true);
        xmlHTTP_port.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        xmlHTTP_port.onreadystatechange = port_query_info_done;
        xmlHTTP_port.send( info );
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    search_button_on_click();
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</script>
















</html>
